/*Código header - El Capitan*/
* {
	font-family: sans-serif;
}
header {
	background-color: #333;
	padding: 10px;
	padding: 15px 0;
	border-bottom: 1px solid #333;
}

.logo {
	width: 80px;
	height: 80px;
}

nav ul {
list-style-type: none;
padding-top: 34px;
margin: 0 -15px 0 0;
float: right;
font-size:14px;
line-height:14px;
text-transform: uppercase;
white-space: nowrap;
}

nav li {
position:relative;
float:right;
margin:0;
padding:0;
}

nav a {
text-decoration:none;
padding: 10px 15px;
color: #eee;
text-shadow: 2px 2px 4px #000;
font-family: sans-serif;
}

nav a:hover {
color: #fff;
}

/*Código section principal*/

.seccion-principal{
	background-color: #e6e6e6;
	border-bottom: 2px solid #ccc;
	padding: 20px;
}

h3 {
	display: inline;
	float:left;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: -15px;
}
.little-a {
	float: left;
	text-decoration: none;
	display: inline;
	font-size: 10px;
	color:#008ae6;
	margin: 12px;
	font-weight: bold;
}


section img {
	width: 200px;
	height: 200px;
	border: 2px solid #fff;
	box-shadow: 0px 0px 0px 1px #ccc;
}
.enlaces-principal {
	text-decoration: none;
	display: block;
	font-weight: bold;
	color:#008ae6;
	text-align: center;
} 

/* Còdigo section cuadrícula*/
/*parte menu*/

.images {
	margin-top:30px;
}

.menu {
	margin-top: 30px;
}

.cuadricula {
	margin-top: 40px;  
}
.menu ul {
	list-style: none;
	margin-top: 20px;
	margin-bottom: 20px;

}

.menu li {
	margin: 10px 10px 10px 0px;
}

.menu img {
	width: 12px;
	height: 12px;
}

.menu hr {
	width: 100%;
	border:1px solid #cccccc;
}

.menu a {
	text-decoration: none;
	font-size: 12pt;
	color: #008ae6;
	margin-left:8px;
}

.menu p {
	position: relative;
	bottom:30px;
	line-height: 25px;
}

/*Parte images*/

.images img {
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
	box-shadow: 0px 0px 0px 1px #ccc;

}

.images a {
	color: #008ae6;
	font-size: 10pt;
	text-decoration: none;
	display: block;
	text-align: center;
}

/* Comienzo Footer*/

footer {
	background-color: #404040;
	color: white;
	margin: 20px;
	padding: 20px;
	text-align: center;

}
p {
	text-align: center;
}

p a {
	color: #bfbfbf;
	text-decoration: none;
}

.ulfooter li {
	display: inline-block;
}

.ulfooter li a {
	color: #bfbfbf;
	text-decoration: none;
	font-size: 10pt;
	display: block;
}

.last {
	color:#808080;
	font-size: 10pt;
}
